@media (max-width:768px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border-radius: 12px;
    }

    body {
        background-color: #141712;
        min-height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        padding-left: 12px;
        padding-right: 12px;
    }

    header {
        width: 100%;
        display: grid;
        place-items: center;
        padding-top: 20px;
    }

    img {
        height: 8rem;
    }

    h1 {
        gap: 12px;
        font-size: 2em;
        font-family: 'Lilita One', sans-serif;
        font-weight: 400;
        color: white;
        letter-spacing: 3px;
        padding-top: 8px;
        text-shadow: 0px 0px 10px #ACBA8F;
    }

    h3 {
        color: #ACBA8F;
        font-family: 'Corben', sans serif;
        font-weight: 400;
        text-align: center;
        font-size: 1em;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        gap: 30px;
    }

    h2 {
        color: white;
        font-size: 1.3em;
        font-family: 'Lilita One', sans-serif;
        font-weight: 400;
        text-align: center;
    }

    .texto {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    span {
        color: white;
        font-family: 'Corben', sans serif;
        text-align: center;
        font-size: 0.8rem;
    }

    .fotos {
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .fotos:nth-child(1) {
        background-image: url(./img/teste.webp);
        background-size: cover;
        background-position: center;
    }

    #foto2 {
        background-image: url(./img/foto2.png);
        background-size: cover;
        background-position: center;
    }

    .foto-info {
        display: flex;
        flex-direction: column;
        gap: 3px;
        align-items: center;
    }

    #foto3 {
        background-image: url(./img/foto3.png);
        background-size: cover;
        background-position: center;
    }

    #strong{
        color: #ACBA8F;
    }

    ul {
        list-style-type: disc;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 20px;
        text-align: left;
        font-family: 'Corben', sans-serif;
        font-size: 0.8rem;
    }


    #foto4 {
        background-image: url(./img/foto4.png);
        background-size: cover;
        background-position: center;
    }

    .fotos:nth-child(5) {
        background-image: url();
        background-size: cover;
        background-position: center;
    }

    .fotos:nth-child(6) {
        background-image: url();
        background-size: cover;
        background-position: center;
    }

    .fotos:nth-child(7) {
        background-image: url();
        background-size: cover;
        background-position: center;
    }

    .fotos:nth-child(8) {
        background-image: url();
        background-size: cover;
        background-position: center;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .socials-container {
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: center;
    }

    .social-link {
        display: flex;
        width: 30px;
        height: 30px;
    }

    @media (max-width:768px) {
        body {
            padding-left: 12px;
            padding-right: 12px;
        }

        .galeria {
            display: flex;
            flex-direction: column;
        }

        .fotos {
            width: 100%;
            height: 33vh;
        }
    }
}